.DS_Store
.swp
.tmp.xml
.vscode
relaton
iev
_plantuml_images
*.doc
*.err
*.err.html
*.html
*.xml
*.presentation.xml
*.log.txt
document.err
document.doc
document.html
document.xml
document.presentation.xml
*~
.$*

# Deploy key
deploy_key
